{% load static %}

<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
    body{
    font-family: sans-serif;
    }
	
     .propbox{
      display: block;
    background: white;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }
  
     .text{
     
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }
  .samp{
      
      margin : 60px auto;
  }
  .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
.button1:hover {
  background-color: #4CAF50;
  color: white;
}
.upload{
	margin:auto;
  display:block;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

	</style>
</head>
<body>
	<img src="{% static 'doc_summarization/images/laptopGirl2.jpg' %}" alt="Summarization" width="300" height="300" align="left" hspace="20">
<div class = "propbox">
			<div>
				<span class="close">&times;</span>
                <p>Summary Ready!</p>
                <button class= "button1"><a href="C:\Users\Varsha\Downloads\TestRank_Text_Summarization.txt" download>download</a></button>
    
   
			</div>
		</div>
        <div class = "samp">
        <div class="text" contentEditable="true">
        {{ ext_text }}
        <br><br>
            {% for img in imgs %}
                <img src = "{% static img %}" width="120" height="120" />
            {% endfor %}
</div>
        
        <div>

</html>