{% load static %}
<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
    body{
    font-family: sans-serif;
    }
	
     .propbox{
    background: white;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }
  .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
.button1:hover {
  background-color: #4CAF50;
  color: white;
}
.upload{
	margin:auto;
  display:block;
}
.modal {
  margin: 60px auto;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height:40%;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

	</style>
</head>
<body>
	<img src="{% static 'doc_summarization/images/laptopGuy2.jpg' %}" alt="Summarization" width="300" height="300" align="left" hspace="20">
	<form method="POST" enctype = "multipart/form-data">
    {% csrf_token %} 
		<div class = "propbox">
			<input type="checkbox" name="checked" value = "ocr">
			<label for = "ocr">OCR</label><br>
			<input type="checkbox" name="checked" value = "images">
			<label for = "bold">Retain Images</label><br>
			<input type="checkbox" name="checked" value = "contains">
			<label for = "contains">Retain sentences containing     <input type="text" name="tokens"></label><br>
			<input type="checkbox" name="checked" value = "lines">
			<label for = "bold">Custom lines      <input type="text" name="numoflines" value = "10"></label>
		</div>

		<div class = "propbox">
        
        {{ form.as_p }}
        <div><button type = "submit" class="button button1 upload" id="myBtn" margin: 40px auto>Summarize</button></div>
    
			
	    </div>
    
</form>
<div id="myModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
				<span class="close">&times;</span>
                <p>Summary ready!</p>
                <a href="C:\Users\varshak\test\text.txt" download="myfile.txt">download ke liye</a>
    <button class= "button1">Download</button>
    <button class= "button1">Save to folder</button>
			</div>
		</div>


</html>